/* General */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

/* Contenedor principal */
.container {
  max-width: 700px;
  margin: 0 auto;
}

/* Encabezado */
h1 {
  text-align: center;
}

/* Navegaci칩n */
nav {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Botones de navegaci칩n */
.nav-button {
  flex: 1 1 200px; /* Base 200px */
  max-width: 250px;
  text-align: center;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  font-weight: 600;
    border: none;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #357abd;
}

/* Media query para pantallas peque침as */
@media (max-width: 600px) {
  .nav-button {
    max-width: 100%;
  }
}

/* Formularios */
form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1rem;
}

button[type="submit"] {
  background-color: #4a90e2;
  border: none;
  color: white;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #357abd;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f0f0f0;
  text-align: left;
}

td {
  text-align: right;
}

/* Bot칩n de cambio de tema */
.theme-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 60%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
}

/* Hover */
.theme-button:hover {
  opacity: 0.8;
}

/* Modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}
